{% extends "pokewiki/base.html" %}
{% load format_text %}

{% block title %}
    <title>{{object.a_name|format_text}}</title>
{% endblock title %}

{% block content %}
    <body id="abidex_pg">
        <h1> {{object.a_name|format_text}} </h1>
        <hr>
        <p class="description" style = "font-family: Comic Sans MS"> {{object.description}} </p>
        <br>
        {% for count in p_with_a|slice:":1" %}
            <h2>  There are {{count.count}} Pokemon with this ability: </h2>
        {% endfor %}
        <hr>
        <table class="table table-hover" id="myTable">
            <thead>
                <tr class = "header">
                    <th scope="col">Name</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Hidden</th>
                </tr>
            </thead>
            <tbody>
                {% for row in p_with_a %}
                    <tr>
                        <td> <a href="{% url 'pokemon-detail' row.s_name_id %}" style = "font-family: Comic Sans MS">{{row.s_name_id|format_text}}</a> </td>
                        <td> <img src="../../static/pokewiki/pokemon-icon/{{row.f_name_id}}.png" loading=lazy></td>
                        {% if row.is_hidden == 1 %}
                            <td class = 'poke_font'> Yes </td>  
                        {% else %}
                            <td class = 'poke_font'> No </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock content %}
