{% extends "pokewiki/base.html" %}
{% load format_text %}

{% block title %}
    <title>AbilityDex</title>
{% endblock title %}

{% block content %}
<body id = "abidex_pg">
    <h1 id = "abidex"><img src="../static/pokewiki/icons/abilitydex-nonshadow-logo.png"></h1>
    <div class = "searchbar mt-sm-2 mr-2">
            <input style = "font-family: Verdana;" type = "text" class = "form-control" onkeyup = filter() id="myInput" placeholder = "Search for an Ability..."/>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-striped mb-0" id="myTable">
          <thead>
              <tr class = "header">
                  <th scope="col" style= "font-family:Verdana">Ability #</th>
                  <th scope="col" style= "font-family:Verdana">Name</th>
              </tr>
          </thead>
          <tbody>
              {% for entry in ability_entry%}
              <tr>
                  <td id ='poke_font' style="font-family:Trebuchet MS">{{entry.a_id}}</td>
                  <td id ='poke_font' style="font-family:Trebuchet MS; width:72%;"><a href="{% url 'ability-detail' entry.a_id %}">{{entry.a_name|format_text}}</a></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
</body>
{% endblock content %}
{% block extra_js %}
  <script>
    function filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
{% endblock extra_js %}
