{% extends "pokewiki/base.html" %}
{% load static %}

{% block title %}
    <title>pokewiki</title>
{% endblock title %}

{% block content %}
<body id = "homepage">
    <h1 id = "title_txt" style = "text-align:center; color: black; font-family: Georgia">Welcome to PokéWiki-Lite!</h1>
    <p id = "homepg_txt" style = "text-align:center; color: black; font-family: Georgia">This is our rendition of PokéWiki, albeit with a slightly reduced featureset. We have a Pokédex, Abilitydex, Movedex, and Itemdex,
        as well as a teambuilder with a built-in recommendation system. </p>
</body>
{% endblock content %}
