{% extends "pokewiki/base.html" %}
{% load format_text %}
{% load static %}

{% block title %}
    <title>Itemdex</title>
{% endblock title %}

{% block content %}
<body id = "itemdex_pg">
    <h1 id = "abidex"><img src="../static/pokewiki/icons/itemdex-logo.png"></h1>
    <div class = "searchbar mt-sm-2 mr-2">
            <input style = "font-family: Verdana"type = "text" class = "form-control" onkeyup = filter() id="myInput" placeholder = "Search for an Item..."/>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-striped mb-0" id="myTable">
          <thead>
              <tr class = "header">
                  <th scope="col" style = "font-family: Verdana">Icon</th>
                  <th scope="col" style = "font-family: Verdana">Name</th>
                  <th scope="col" style = "font-family: Verdana">Category</th>
              </tr>
          </thead>
          <tbody>
              {% for entry in item_entry%}
                <tr>
                    <td> <img src="../static/pokewiki/item-icon/{{entry.i_name}}.png" height=24px width=24px loading=lazy></td>
                    <td id = 'poke_font' style = "font-family: Trebuchet MS"><a href="{% url 'item-detail' entry.i_id%}">{{entry.i_name|format_text}}</a></td>
                    <td id = 'poke_font' style = "font-family: Trebuchet MS">{{entry.category|format_text}}</td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
</body>
{% endblock content %}
{% block extra_js %}
<script>
    function filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
{% endblock extra_js %}
