{% extends "pokewiki/base.html" %}

{% block title %}
    <title>{{object.m_name}}</title>
{% endblock title %}

{% block content %}
    <h1> {{object.m_name}} </h1>
    <p> {{object.effect}} </p>
    {% comment %} {% for count in p_with_a|slice:":1" %}
        <h2>  There are {{count.count}} Pokemon with this ability: </h2>
    {% endfor %}
    {% for row in p_with_a %}
        <h1> {{row.f_name_id}}  </h1>
        <a href="{% url 'pokemon-detail' row.s_name_id %}">{{row.s_name_id}}</a>
        {% if row.is_hidden == 1 %}
            <p> hidden </p>
        {% else %}
            <p> normal </p>
        {% endif %}
    {% endfor %} {% endcomment %}
{% endblock content %}