{% extends "pokewiki/base.html" %}

{% block title %}
    <title>{{object.m_name}}</title>
{% endblock title %}

{% block content %}
    <body id="movedex_pg">
        <h1> {{object.m_name}} </h1>
        <p style= "font-family: Comic Sans MS"> {{object.effect}} </p>
        {% for count in p_with_m|slice:":1" %}
            <h2 style="text-align:center">  There are {{count.count}} Pokémon that can learn this move. </h2>
        {% endfor %}
        <table class="table table-hover" id="myTable">
            <thead>
                <tr class = "header">
                    <th scope="col">#</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Name</th>
                    <th scope="col">Form</th>
                    <th scope="col">Types</th>
                    <th scope="col">Generation</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in p_with_m%}
                    <tr>
                        <td style="font-family: Comic Sans MS">{{entry.dex_id}}</td>
                        <td><img src="../static/pokewiki/pokemon-icon/{{entry.f_name}}.png"></td>
                        <td><a href="{% url 'pokemon-detail' entry.s_name %}" style= "font-family: Comic Sans MS">{{entry.s_name}}</a></td>
                        <td>
                            {% if entry.f_name != entry.s_name %}
                                <a href="{% url 'pokemon-detail' entry.s_name %}" style= "font-family: Comic Sans MS">{{entry.f_name}}</a>
                                {% if 'mega' in entry.f_name %}
                                    <img src="../static/pokewiki/icons/megastone.png" height=24px width=24px>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td><img src="../static/pokewiki/type-icon/{{entry.type1}}.png" alt={{entry.type1}} height=24px width=24px>
                            {% if entry.type2 %}
                                <img src="../static/pokewiki/type-icon/{{entry.type2}}.png" alt={{entry.type2}} height=24px width=24px>
                            {% endif %}
                        </td>
                        <td style="font-family: Comic Sans MS">{{entry.gen}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock content %}
