{% extends "pokewiki/base.html" %}
{% load static %}

{% block title %}
    <title>MoveDex</title>
{% endblock title %}

{% block content %}
<body id = "movedex_pg">
    <h1 id = "movedex"><img src="../static/pokewiki/icons/movedex-nonshadow-logo.png"></h1>
    <div class = "searchbar mt-sm-2 mr-2">
            <input type = "text" class = "form-control" onkeyup = filter() id="myInput" placeholder = "Search for a move..."/>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-striped mb-0" id="myTable">
          <thead>
              <tr class = "header">
                  <th scope="col">id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Types</th>
                  <th scope="col">damage class</th>
                  <th scope="col">Generation</th>
              </tr>
          </thead>
          <tbody>
              {% for entry in move_entry%}
                <tr>
                    <td class = 'poke_font'>{{entry.m_id}}</td>
                    <td class = 'poke_font'><a href="{% url 'move-detail' entry.m_name %}">{{entry.m_name}}</a></td>
                    {% comment %} <td id = 'poke_font'><button type = 'button'; class = 'button'>{{entry.types}}</button></td> {% endcomment %}
                    <td> <img src="../static/pokewiki/type-icon/{{entry.types}}.png" alt={{entry.types}} height=24px width=24px loading=lazy> </td>
                    <td class = 'poke_font'> <img src="../static/pokewiki/move-icon/{{entry.dmg_class}}.png" alt={{entry.dmg_class}} loading=lazy> {{entry.dmg_class}}</td>
                    <td class = 'poke_font'>{{entry.gen}}</td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
</body>
{% endblock content %}
{% block extra_js %}
<script >
    function filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
{% endblock extra_js %}
