{% extends "pokewiki/base.html" %}

{% block title %}
    <title>pokedex</title>
{% endblock title %}

{% block content %}
    <h1>Pokedex</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Icon</th>
                <th scope="col">Name</th>
                <th scope="col">Types</th>
                <th scope="col">Generation</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in poke_entry%}
            <tr>
                {% comment %} <th scope="row">1</th> {% endcomment %}
                <td>{{entry.p_id}}</td>
                <td>{{entry.img}}</td>
                <td>{{entry.name}}</td>
                <td>{{entry.type1}},{{entry.type2}}</td>
                <td>{{entry.gen}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock content %}