{% extends "pokewiki/base.html" %}
{% load static %}

{% block title %}
    <title>PokeDex</title>
{% endblock title %}

{% block content %}
<body id = 'pokedex_pg'>
    <h1 id = "pokedex"><img src={%static 'pokewiki/icons/pokedex-nonshadow-logo.png'%}></h1>
    <div class = "searchbar mt-sm-2 mr-2">
        <input type = "text" class = "form-control" onkeyup = log_filter() id="myInput" placeholder = "Search for a Pokémon..."/>
    </div>
    <!-- The side bar section for types -->
    <div class="icon-bar">
        <a href="#"><img src="../static/pokewiki/type-icon/bug.png" height=32px width=32px onclick=button_filter("bug")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/dark.png" height=32px width=32px onclick=button_filter("dark")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/dragon.png" height=32px width=32px onclick=button_filter("dragon")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/electric.png" height=32px width=32px onclick=button_filter("electric")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/fairy.png" height=32px width=32px onclick=button_filter("fairy")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/fighting.png" height=32px width=32px onclick=button_filter("fighting")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/fire.png" height=32px width=32px onclick=button_filter("fire")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/flying.png" height=32px width=32px onclick=button_filter("flying")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/ghost.png" height=32px width=32px onclick=button_filter("ghost")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/grass.png" height=32px width=32px onclick=button_filter("grass")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/ground.png" height=32px width=32px onclick=button_filter("ground")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/ice.png" height=32px width=32px onclick=button_filter("ice")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/normal.png" height=32px width=32px onclick=button_filter("normal")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/poison.png" height=32px width=32px onclick=button_filter("poison")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/psychic.png" height=32px width=32px onclick=button_filter("psychic")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/rock.png" height=32px width=32px onclick=button_filter("rock")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/steel.png" height=32px width=32px onclick=button_filter("steel")></a>
        <a href="#"><img src="../static/pokewiki/type-icon/water.png" height=32px width=32px onclick=button_filter("water")></a>
    </div>
    <!-- Table -->
    <div style="overflow-y:scroll; height:75vh;">
      <table class="table table-hover" id="myTable">
        <thead>
            <tr class = "header">
                <th scope="col">#</th>
                <th scope="col">Icon</th>
                <th scope="col">Name</th>
                <th scope="col">Form</th>
                <th scope="col">Types</th>
                <th scope="col">Generation</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in poke_entry %}
            <tr>
                <td id = 'poke_font'>{{entry.dex_id}}</td>
                <td><img src="../static/pokewiki/pokemon-icon/{{entry.f_name}}.png"></td>
                <td id = 'poke_font'><a href="{% url 'pokemon-detail' entry.s_name %}">{{entry.s_name}}</a></td>
                <td id = 'poke_font'>
                  {% if entry.f_name != entry.s_name %}
                      <a href="{% url 'pokemon-detail' entry.s_name %}">{{entry.f_name}}</a>
                      {% if 'mega' in entry.f_name %}
                        <img src="../static/pokewiki/icons/megastone.png" height=24px width=24px>
                      {% endif %}
                  {% endif %}
                </td>
                <td>
                  <img src="../static/pokewiki/type-icon/{{entry.type1}}.png" alt={{entry.type1}} height=24px width=24px>
                  {% if entry.type2 %}
                    <img src="../static/pokewiki/type-icon/{{entry.type2}}.png" alt={{entry.type2}} height=24px width=24px>
                  {% endif %}
                </td>
                <td id = "poke_font">{{entry.gen}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</body>

<style>
.icon-bar {
    width: 100%; /* Full-width */
    background-color: #ffffe8; /* Light yellow background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 5.55555%; /* Equal width */
    padding: 12px 0;
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.icon-bar a:hover {
    background-color: #444444; /* Add a hover color */
}

.active {
    background-color: #000000; /* Add an active/current color */
}
</style>

{% endblock content %}

{% block extra_js %}
<script>

    function log_filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function button_filter(button){
        var table, tr, td, i, txtValue1, txtValue2;
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[4]; // Get the image column for types
          if (td) {
            txtValue1 = td.getElementsByTagName("img")[0].attributes[1].textContent;  // The first type
            if(td.getElementsByTagName("img")[1]){
                txtValue2 = td.getElementsByTagName("img")[1].attributes[1].textContent;  // The second type if exists
            }
            else txtValue2 = ""
             if (txtValue1.indexOf(button) > -1 || txtValue2.indexOf(button) > -1) {
                 tr[i].style.display = "";
               }
               else {
                 tr[i].style.display = "none";
               }
             }
         }
     }

    </script>
{% endblock extra_js %}
