{% extends "pokewiki/base.html" %}
{% load static %}

{% block title %}
    <title>PokeDex</title>
{% endblock title %}

{% block content %}
<body id = 'pokedex_pg'>
    <h1 id = "pokedex"><img src={%static 'pokewiki/icons/pokedex-nonshadow-logo.png'%}></h1>
    <div class = "searchbar mt-sm-2 mr-2">
            <input type = "text" class = "form-control" onkeyup = log_filter() id="myInput" placeholder = "Search for a Pokémon..."/>
    </div>
    <div style="overflow-y:scroll; height:75vh;">
      <table class="table table-hover" id="myTable">
        <thead>
            <tr class = "header">
                <th scope="col">#</th>
                <th scope="col">Icon</th>
                <th scope="col">Name</th>
                <th scope="col">Types</th>
                <th scope="col">Generation</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in poke_entry %}
            <tr>
                <td id = 'poke_font'>{{entry.dex_id}}</td>
                <td><img src="../static/pokewiki/pokemon-icon/{{entry.f_name}}.png"></td>
                <td id = 'poke_font'><a href="{% url 'pokemon-detail' entry.s_name %}">{{entry.f_name}}</a></td>
                <td id = 'poke_font'>
                  <button type= 'button' class = 'button' onclick ="button_filter({{forloop.counter}}, 0)">{{entry.type1}}</button>
                  {% if entry.type2 %}
                    <button type = 'button' class = 'button' onclick ="button_filter({{forloop.counter}}, 1)">{{entry.type2}}</button>
                  {% endif %}
                </td>
                <td id = "poke_font">{{entry.gen}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</body>
{% endblock content %}

{% block extra_js %}
<script>
    function log_filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function button_filter(index, button){
        var input, table, tr, td, i, txtValue;
        table = document.getElementById("myTable");
        input = table.getElementsByTagName('tr')[index].getElementsByTagName('td')[3].getElementsByTagName('button')[button].textContent;
        tr = table.getElementsByTagName("tr");
        console.log(input);
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[3];
          if (td) {
            txtValue = td.textContent;
             if (txtValue.indexOf(input) > -1) {
                 tr[i].style.display = "";
               }
               else {
                 tr[i].style.display = "none";
               }
             }
         }
     }

    </script>
{% endblock extra_js %}
