{% extends "pokewiki/base.html" %}

{% block title %}
    <title>{{object.s_name}}</title>
{% endblock title %}

{% block content %}
    <body id="pokedex_pg">
        {% for row in pokemon_detail %}
            <h1>{{row.f_name}}</h1>
            {% for a in pokemon_ability %}
                {% if a.f_name == row.f_name %}
                    {% if a.is_hidden == 1 %}
                        <a href="{% url 'ability-detail' a.a_id %}">{{a.a_name}}(hidden)</a>
                    {% else %}
                        <a href="{% url 'ability-detail' a.a_id %}">{{a.a_name}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <p><img src="../../static/pokewiki/pokemon-icon/{{row.f_name}}.png"></p>
            <p> dex_id : {{row.dex_id}} </p>
            <p> {{row.type1}} {{row.type2}}</p>
            <p> generation : {{row.gen}} </p>
            <p>height : {{row.height}}</p>
            <p>weight : {{row.weight}}</p>
            <p> capture rate: {{row.capture_rate }}</p>
            <p> gender rate: {{row.gender_rate }}</p>
            <table style = "background: #6FFEF6; border-radius: 10px; -moz-border-radius:10px;
            -webkit-border-radius:10; -khtml-border-radius:10px; -icab-border-radius:10px;
            -o-border-radius:10px; border:3px solid #05A89F; white-space:nowrap">
            <!--/////////////////////////////////////////////////////// CAPTION-->
                <caption style ="color:black; caption-side:top; text-align:center;
                background:#40ece2; border-radius: 10px; -moz-border-radius:10px;
                -webkit-border-radius:10; -khtml-border-radius:10px; -icab-border-radius:10px;
                -o-border-radius:10px; border:3px solid #05A89F; white-space:nowrap; font-family: Comic Sans MS">
                Base Stats For {{row.f_name}}</caption>
                <tbody>
                    <!--
                    RED HEX #E57474, #BC3838


                    -->
                    <!--/////////////////////////////////////////////HP STAT BAR-->
                    <tr style = "background: #E57474; text-align:center">
                        <th style="width:150px">
                            <div style="float:left">
                                <span style="color:#000;font-family: Comic Sans MS;">HP:</span>
                            </div>
                            <div style="float:right; color:black; font-family: Comic Sans MS;">
                                {{row.hp}}
                            </div>
                        </th>
                        <td style="width:255px">
                            <div class="statbar" style="background-color:#BC3838;
                            width:calc(100%*{{row.hp}}/255); height:20px"></div>
                        </td>
                        <!--/////////////////////////////////////////ATK STAT BAR-->
                        <tr style = "background: #FFB380; text-align:center">
                            <th style="width:150px">
                                <div style="float:left">
                                    <span style="color:#000;font-family: Comic Sans MS;">Attack:</span>
                                </div>
                                <div style="float:right; color:black; font-family: Comic Sans MS;">
                                    {{row.atk}}
                                </div>
                            </th>
                            <td style="width:255px">
                                <div class="statbar" style="background-color:#FF822e;
                                width:calc(100%*{{row.atk}}/255); height:20px"></div>
                            </td>
                            <!-- ////////////////////////////////////DEF STAT BAR-->
                            <tr style = "background: #FAE078; text-align:center">
                                <th style="width:150px">
                                    <div style="float:left">
                                        <span style="color:#000;font-family: Comic Sans MS;">Defense:</span>
                                    </div>
                                    <div style="float:right; color:black;font-family: Comic Sans MS;">
                                        {{row.df}}
                                    </div>
                                </th>
                                <td style="width:255px">
                                    <div class="statbar" style="background-color:#F8D030;
                                    width:calc(100%*{{row.df}}/255); height:20px"></div>
                                </td>
                            <!-- ////////////////////////////////////SPATK STAT BAR-->
                            <tr style = "background: #62C5DA; text-align:center">
                                <th style="width:150px">
                                    <div style="float:left">
                                        <span style="color:#000;font-family: Comic Sans MS;">Sp.Attack:</span>
                                    </div>
                                    <div style="float:right; color:black; font-family: Comic Sans MS;">
                                        {{row.spatk}}
                                    </div>
                                </th>
                                <td style="width:255px">
                                    <div class="statbar" style="background-color:#0492C2;
                                    width:calc(100%*{{row.spatk}}/255); height:20px"></div>
                                </td>
                                <!-- ////////////////////////////////////SPDEF STAT BAR-->
                                <tr style = "background: #A7DB8D; text-align:center">
                                    <th style="width:150px">
                                        <div style="float:left">
                                            <span style="color:#000; font-family: Comic Sans MS;">Sp.Defense:</span>
                                        </div>
                                        <div style="float:right; color:black; font-family: Comic Sans MS;">
                                            {{row.spdf}}
                                        </div>
                                    </th>
                                    <td style="width:255px">
                                        <div class="statbar" style="background-color:#78C850;
                                        width:calc(100%*{{row.spdf}}/255); height:20px"></div>
                                    </td>
                                    <!-- ////////////////////////////////////SPEED STAT BAR-->
                                    <tr style = "background: #F4C2C2; text-align:center">
                                        <th style="width:150px">
                                            <div style="float:left">
                                                <span style="color:#000;font-family: Comic Sans MS;">Speed:</span>
                                            </div>
                                            <div style="float:right; color:black; font-family: Comic Sans MS;">
                                                {{row.spd}}
                                            </div>
                                        </th>
                                        <td style="width:255px">
                                            <div class="statbar" style="background-color:#E17F93;
                                            width:calc(100%*{{row.spd}}/255); height:20px"></div>
                                        </td>
                                        <!-- ////////////////////////////////////TOTAL STAT BAR-->
                                        <!-- PINK HEX #E17F93  #F4C2C2
                                             GREEN HEX #78C850 #A7DB8D
                                             PURPLE HEX #A45EE5 #BD93D3
                                             BLUE HEX #0492C2 #62C5DA
                                             YELLOW HEX #F8D030 #FAE078
                                             ORANGE HEX #FF822E #FFB380
                                             RED HEX #BC3838 #E57474
                                         -->
                                        <tr style = "background: #BD93D3; text-align:center">
                                            <th style="width:150px">
                                                <div style="float:left">
                                                    <span style="color:#000; font-family: Comic Sans MS;">Total:</span>
                                                </div>
                                                <div style="float:right; font-family: Comic Sans MS; color:black;">
                                                    {{row.hp|add:row.atk|add:row.df|add:row.spatk|add:row.spdf|add:row.spd}}
                                                </div>
                                            </th>
                                            <td style="width:255px">
                                                <div class="statbar" style="background-color:#A45EE5;
                                                width:calc(100%*{{row.hp|add:row.atk|add:row.df|add:row.spatk|add:row.spdf|add:row.spd}}
                                            </div>/1530); height:20px"></div>
                                            </td>
                </tbody>
            </table>
            <h2> Learnable Moves </h2>
            <div class="table-wrapper-scroll-y my-custom-scrollbar" >
            <table class="table table-hover" id="myTable">
            <thead>
                <tr class = "header">
                    <th scope="col">moves</th>
                </tr>
            </thead>
            <tbody>
                {% for m in pokemon_move%}
                    {% if m.f_name_id == row.f_name%}
                        <tr>
                            <td><a href="{% url 'move-detail' m.m_name_id %}">{{m.m_name_id}}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
            </div>
    </body>

        {% endfor %}
{% endblock content %}
