{% extends "pokewiki/base.html" %}
{% load format_text %}
{% block content %}
    <!-- <div class="content-section"> -->
    <div style="margin-top:70px;">
        <h1> Forum </h1>
        <hr>
    <!-- </div> -->
    </div>
    {% for users in username %}
        <p>{{user.username}}</p>
    {% endfor %}
    {% for row in team_lists %}
        <!-- <h3> {{row.}} </h3> -->
        <div class="content-section">
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr class = "header">
                        <td>{{row.team_name}}</td>
                        {% for key,value in row.team_comp.items %}
                            {% if value.name %}
                                <td><img src="../static/pokewiki/pokemon-icon/{{value.name}}.png" alt="N/A"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class='team-body'>
                    <tr>
                        <td>name</td>
                        {% for key,value in row.team_comp.items %}
                            <td>{{value.name|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>nature</td>
                        {% for key,value in row.team_comp.items %}
                            <td>{{value.nature|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>ability</td>
                        {% for key,value in row.team_comp.items %}
                            <td>{{value.ability|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>item</td>
                        {% for key,value in row.team_comp.items %}
                            {% if value.item %}
                                <td><img src="../static/pokewiki/item-icon/{{value.item}}.png" alt="N/A"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>move</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td colspan="4"><p>{{row.description}}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock content %}
{% block extra_js %}
    <script>
        var main = function()
        {
            $("thead").on("click", function()
            {
                $(this).parents("table").find("tbody").toggle();
            });
        }
        $(document).ready(main);
    </script>
{% endblock extra_js %}
