{% extends "pokewiki/base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <h1> {{ user.username }}'s team </h1>
    {% for row in team_entry %}
        <div class="content-section">
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr class = "header">
                        <td>{{row.team_name}}</td>
                        {% for key,value in row.team_comp.items %}
                            <td><img src="../static/pokewiki/pokemon-icon/{{value}}.png"></td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class='team-body'>
                    <tr>
                        <td>name</td>
                        {% for key,value in row.team_comp.items %}
                            <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>nature</td>
                    </tr>
                    <tr>
                        <td>ability</td>
                    </tr>
                    <tr>
                        <td>item</td>
                    </tr>
                    <tr>
                        <td>move</td>
                    </tr>
                    <tr>
                        <td>EVs</td>
                    </tr>
                    <tr>
                        <td>IVs</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td colspan="5"><p>{{row.description}}</p></td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td><button type="button" class="btn btn-primary">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock content %}
{% block extra_js %}
    <script> 
        var main = function() 
        {
            $("thead").on("click", function() 
            {
                $(this).parents("table").find("tbody").toggle();
            });
        }
        $(document).ready(main);
    </script>  
{% endblock extra_js %}