{% extends "pokewiki/base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Team</legend>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.team_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-11 mb-0">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    <!-- add pokemon graph-->
                    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
                    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
                    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
                    <script src="//cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
                    <div id="chartdiv">
                        <script>
                            am4core.useTheme(am4themes_animated);
                            // Create chart
                            var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
                            // Create series
                            var series = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())
                            // Set data
                            series.data = [{
                              "name": "Tyranitar",
                              "value": 400,
                              "link":["Garchomp"]
                            }, {
                              "name": "Garchomp",
                              "value":400,
                              "link":["Pikachu"],
                              // "children": [{
                              //   "name": "B1", "value": 135
                              // },
                            }, {
                              "name": "Pikachu",
                              "value":400,
                              "link":["Garchomp","Tyranitar"],
                            }, {
                              "name": "Charizard",
                              "value":400,
                              "link":["Garchomp", "Pikachu"]
                            }, {
                              "name": "Blastoise",
                              "value":400,
                              "link":["Garchomp"],
                            }];
                            // Set up data fields
                            series.dataFields.value = "value";
                            series.dataFields.name = "name";
                            series.dataFields.children = "children";
                            series.dataFields.id = "name";
                            series.dataFields.linkWith = "link";
                            series.links.template.strokeWidth = 5;
                            // series.minRadius = 30;
                            // series.maxRadius = 30;
                            // Add labels
                            series.nodes.template.label.text = "{name}";
                            series.fontSize = 10;
                            series.minRadius = 15;
                            series.maxRadius = 40;
                            series.centerStrength = 0.5;
                            chart.zoomable = true;
                            series.nodes.template.events.on("hit", function(event) {
                              if (event.target.isActive) {
                                chart.zoomToDataItem(event.target.dataItem, 3, true)
                              }
                              else {
                                chart.zoomOut();
                              }
                            });
                        </script>
                    </div>
                    <div class="form-row" style="display:none">
                        <div class="form-group col-md-11 mb-0" >
                            {{ form.team_comp|as_crispy_field }}
                        </div>
                        <small class="text-muted">
                            <p>pick your Pokemon from below</p>
                        </small>
                    </div>
                    <div class="square" id="1" onclick="select_member(1)" ondblclick="delete_member(1)" >
                        <div class="team_picker">
                        </div>
                    </div>
                    <div class="square" id="2" onclick="select_member(2)" ondblclick="delete_member(2)">
                        <div class="team_picker">
                        </div>
                    </div>
                    <div class="square" id="3" onclick="select_member(3)" ondblclick="delete_member(3)">
                        <div class="team_picker">              
                        </div>
                    </div>
                    <div class="square" id="4" onclick="select_member(4)" ondblclick="delete_member(4)">
                        <div class="team_picker">
                        </div>
                    </div>
                    <div class="square" id="5" onclick="select_member(5)" ondblclick="delete_member(5)">
                        <div class="team_picker">
                        </div>
                    </div>
                    <div class="square" id="6" onclick="select_member(6)" ondblclick="delete_member(6)">
                        <div class="team_picker">              
                        </div>
                    </div>
                    <div>
                        <small style="display: inline;"> RULEs: </small>
                        <br>
                        <small style="display: inline;" id="rule1"> HAVE 6 Pokemons in the team</small>
                        <br>
                        <small style="display: inline;" id="rule2"> No more than ONE megas in the team</small>
                        <br>
                        <small style="display: inline;" id="rule3"> No two pokemons have two the same national dex number</small>
                    </div>
                    
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
            <div class = "searchbar mt-sm-2 mr-2">
                <input type = "text" class = "form-control" onkeyup = log_filter() id="myInput" placeholder = "Search for a Pokémon..."/>
            </div>
            <p id="pokemon_field">
                {%for l, k in pokemon_team_detail.items%}
                    {% for row in k%}
                        <img id='{{row.pokemon|lower}}' alt='{{row.dex_id}}' src="../../static/pokewiki/pokemon-icon/{{row.pokemon|lower}}.png" onclick="pokeSelect('{{row.pokemon|lower}}', '{{row.dex_id}}')" >
                        <!-- {{row}} -->
                    {%endfor%}
                {%endfor%}
            </p>

        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        //pokemon selector
        var select = 0;
        //active color for selected team member
        var active = "#9bd6f0";
        //a function to initialize team_dict for update
        //a function to delete the last added pokemon
        var team_dict = 
        {
                "p1": {"id" : 0, "name" : "", "nature" : "", "IV" : "", "EV" : "", "item" : ""},
                "p2": {"id" : 0, "name" : "", "nature" : "", "IV" : "", "EV" : "", "item" : ""},
                "p3": {"id" : 0, "name" : "", "nature" : "", "IV" : "", "EV" : "", "item" : ""},
                "p4": {"id" : 0, "name" : "", "nature" : "", "IV" : "", "EV" : "", "item" : ""},
                "p5": {"id" : 0, "name" : "", "nature" : "", "IV" : "", "EV" : "", "item" : ""},
                "p6": {"id" : 0, "name" : "", "nature" : "", "IV" : "", "EV" : "", "item" : ""},
        };
        var team_size = 0;
        //load the contents if updating
        window.onload = function()
        {
            //(using django to check if it's an updateview or a createview)
            {% if object %}
                //load from to-be-modified team
                var update = document.getElementById("id_team_comp");
                var obj = JSON.parse(update.value);
                for(let i = 1; i <= 6; i++)
                {
                    let team_member = document.getElementById(i.toString()).children[0];
                    team_member.innerText = obj["p".concat(i.toString())]["name"];
                    team_dict["p".concat(i.toString())]["name"] = team_member.innerText;
                }
            {% endif %}

            //check if the team is valid
            valid_check();
        };
        
        /*
            Function to pick a pokemon from the field and append it to the team
        */
        function pokeSelect(pokename, dex_id)
        {
            if(select > 0)
            {
                //append name to the list
                var node = document.getElementById(select).children[0];
                if(node.innerText == "")
                    team_size++;
                node.innerText = pokename;
                //append the pokemon to dict
                team_dict["p".concat(select.toString())]["name"] = pokename;
                team_dict["p".concat(select.toString())]["id"]   = dex_id;
                //generate json data for the team
                var team_json = document.getElementById("id_team_comp");
                team_json.innerHTML = JSON.stringify(team_dict);
                // console.log(team_size);
                valid_check();
            }
        }
        /*
            highlight the list element being selected
        */
        function select_member(select_id)
        {
            if(select != select_id)
            {
                //deactivate previous selected
                if(select != 0)
                {
                    let team_member = document.getElementById(select);
                    team_member.style.backgroundColor = "#e6eff3";
                }
                //activate current selected
                select = select_id;
                team_member = document.getElementById(select);
                team_member.style.backgroundColor = active;
            }
        }
        /*
            Function to delete a pokemon from the list when double-clicked
        */
        function delete_member(select_id)
        {
            if(team_size != 0)
            {
                var team_member = document.getElementById(select_id);
                if(select == select_id)
                {
                    team_member.style.background = "#e6eff3"
                    select = 0;
                    team_member.children[0].innerText = "";
                    team_size--;
                    valid_check();
                }
            }
        }
        /*
            Function to search a pokemon from the field 
        */
        function log_filter() 
        {
            var pokemons = document.getElementById("pokemon_field").children;
            var input, filter, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            for (i = 0; i < pokemons.length; i++) 
            {
                if (pokemons[i]) 
                {
                    txtValue = pokemons[i].id;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) 
                    {
                        pokemons[i].style.display = "";
                    } else 
                    {
                        pokemons[i].style.display = "none";
                    }
                }
            }
        }
        /*
            function to check if the team is valid
            -if it's valid, the status becomes green and the button is enabled to create a team
            -if it's invalid, the status becomes red and the button is disabled
        */
        function valid_check()
        {
            //get the team dictionary
            // let team = document.getElementById("team_dict");
            //initial state
            if(team_size == 0)
            {
                return;
            }
            //check based on the applied rule    
            gen7_ou_check();
            
        }
        /*
            team validator for gen7ou rule
        */
        function gen7_ou_check()
        {
            let array = []; //array for pokemon dex_id
            let mega_count = 0; //mega_count
            for(let key in team_dict)
            {
                if(team_dict[key]["id"] != "")
                    array.push(team_dict[key]["id"]);
                if(team_dict[key]["name"].includes("-mega"))
                {
                    mega_count++;
                }
            }
            if(team_size != 6)
            {
                //invalid
                let checker = document.getElementById("rule1");
                // checker.innerText = "INVALID, You MUST have 6 pokemons in the team";
                checker.style.color = "#ff6b60"
                // return;
            }
            else{
                let checker = document.getElementById("rule1");
                checker.style.color = "#99ffcc";
            }
            //check for pokemons with same national dex id
            if(mega_count > 1) //check number of megas in the team
            {
                let checker = document.getElementById("rule2");
                // checker.innerText   = "INVALID, You CANNOT have more than one mega-evolved pokemons in one team.";
                checker.style.color = "#ff6b60"
            }
            else{
                let checker = document.getElementById("rule2");
                checker.style.color = "#99ffcc";
            }
            if(hasDuplicates(array) == true)
            {
                let checker = document.getElementById("rule3");
                // checker.innerText   = "INVALID, You CANNOT have two Pokémons with the same National Pokédex number on a team.";
                checker.style.color = "#ff6b60"
            }
            else{
                let checker = document.getElementById("rule3");
                checker.style.color = "#99ffcc";
            }
        }
        /*
            function to check if an array has a duplicate
        */
        function hasDuplicates(array) 
        {
            return (new Set(array)).size !== array.length;
        }
    </script>
{% endblock extra_js %}
