{% extends "pokewiki/base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Team</legend>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.team_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-11 mb-0">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    <!-- add pokemon graph-->
                    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
                    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
                    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
                    <script src="//cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
                    <div id="chartdiv">
                        <script>
                            am4core.useTheme(am4themes_animated);
                            // Create chart
                            var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
                            // Create series
                            var series = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())
                            // Set data
                            series.data = [{
                              "name": "Tyranitar",
                              "value": 400,
                              "link":["Garchomp"]
                            }, {
                              "name": "Garchomp",
                              "value":400,
                              "link":["Pikachu"],
                              // "children": [{
                              //   "name": "B1", "value": 135
                              // },
                            }, {
                              "name": "Pikachu",
                              "value":400,
                              "link":["Garchomp","Tyranitar"],
                            }, {
                              "name": "Charizard",
                              "value":400,
                              "link":["Garchomp", "Pikachu"]
                            }, {
                              "name": "Blastoise",
                              "value":400,
                              "link":["Garchomp"],
                            }];
                            // Set up data fields
                            series.dataFields.value = "value";
                            series.dataFields.name = "name";
                            series.dataFields.children = "children";
                            series.dataFields.id = "name";
                            series.dataFields.linkWith = "link";
                            series.links.template.strokeWidth = 5;
                            // series.minRadius = 30;
                            // series.maxRadius = 30;
                            // Add labels
                            series.nodes.template.label.text = "{name}";
                            series.fontSize = 10;
                            series.minRadius = 15;
                            series.maxRadius = 40;
                            series.centerStrength = 0.5;
                            chart.zoomable = true;
                            series.nodes.template.events.on("hit", function(event) {
                              if (event.target.isActive) {
                                chart.zoomToDataItem(event.target.dataItem, 3, true)
                              }
                              else {
                                chart.zoomOut();
                              }
                            });
                        </script>
                    </div>
                    <div class="form-row" style="display:none">
                        <div class="form-group col-md-11 mb-0" >
                            {{ form.team_comp|as_crispy_field }}
                        </div>
                        <small class="text-muted">
                            <p>pick your Pokemon from below</p>
                        </small>
                    </div>
                    <ul id="myList" class="list-group">
                        {% for key,value in row.team_comp.items%}

                        {% endfor %}
                        <li id="1" class="list-group-item" onclick="select_edit(1)" ondblclick="delete_list(1)"></li>
                        <li id="2" class="list-group-item" onclick="select_edit(2)" ondblclick="delete_list(2)"></li>
                        <li id="3" class="list-group-item" onclick="select_edit(3)" ondblclick="delete_list(3)"></li>
                        <li id="4" class="list-group-item" onclick="select_edit(4)" ondblclick="delete_list(4)"></li>
                        <li id="5" class="list-group-item" onclick="select_edit(5)" ondblclick="delete_list(5)"></li>
                        <li id="6" class="list-group-item" onclick="select_edit(6)" ondblclick="delete_list(6)"></li>
                    </ul>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
            <div class = "searchbar mt-sm-2 mr-2">
                <input type = "text" class = "form-control" onkeyup = log_filter() id="myInput" placeholder = "Search for a Pokémon..."/>
            </div>
            <p>
                {%for l, k in pokemon_team_detail.items%}
                    {% for row in k%}
                        <img id='{{row.pokemon|lower}}' src="../../static/pokewiki/pokemon-icon/{{row.pokemon|lower}}.png" onclick="pokeSelect('{{row.pokemon|lower}}')" >
                        <!-- {{row}} -->
                    {%endfor%}
                {%endfor%}
            </p>

        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        //pokemon selector
        // var team_graph = {
        //     {"name": "TaoHeyi"},
        //     {"name": "shlint"}
        // };
        var select = 0;
        //a function to initialize team_dict for update
        //a function to delete the last added pokemon
        var team_dict = {
                "p1": "",
                "p2": "",
                "p3": "",
                "p4": "",
                "p5": "",
                "p6": "",
        };
        //load the contents if updating
        window.onload = function()
        {
            var update = document.getElementById("id_team_comp");

                //console.log(update.value)
                var obj = JSON.parse(update.value);
                for(let i = 1; i <= 6; i++)
                {
                    let list = document.getElementById(i.toString());
                    //console.log("p".concat(i.toString()));
                    list.innerText = obj["p".concat(i.toString())];
                    team_dict["p".concat(i.toString())] = list.innerText;
                }

        };
        function pokeSelect(pokename)
        {
            if(select > 0)
            {
                //append name to the list
                var node = document.getElementById(select);
                if(node.innerText != "")
                    show_poke(node.innerText)
                node.innerText = pokename;
                //append the pokemon to dict
                team_dict["p".concat(select.toString())] = pokename;
                //generate json data for the team
                var team_json = document.getElementById("id_team_comp");
                team_json.innerHTML = JSON.stringify(team_dict);
                //hide the selected pokemon
                hide_poke(pokename)
            }
        }
        function select_edit(select_id)
        {
            if(select != select_id)
            {
                select = select_id;
                for(let i = 1; i <= 6; i++)
                {
                    let list = document.getElementById(i);
                    if(i == select_id)
                        list.className = "list-group-item active";
                    else
                        list.className = "list-group-item";
                }

            }
            //alert(select_id);
        }
        function show_poke(pokename)
        {
            var p_shown = document.getElementById(pokename);
            p_shown.style = "display:\"\";";
        }
        function hide_poke(pokename)
        {
            var p_hidden = document.getElementById(pokename);
            p_hidden.style = "display:none;";
        }
        function delete_list(select_id)
        {
            var list = document.getElementById(select_id);
            if(list.className == "list-group-item active")
            {
                list.className = "list-group-item"
                select = 0;
                show_poke(list.innerText);
                list.innerText = "";
            }

        }

    </script>
{% endblock extra_js %}
