{% extends "pokewiki/base.html" %}
{% load format_text %}
{% block content %}
<body id = "myteampage">
    <div class="content-section" style = "background:#EAEAEA; border-radius:10px; border-width: 10px;border-color:#black;">
        <h1 style="font-family:Verdana; color:black; font-size:30px;">Teambuilder</h1>
        <form action="{% url 'team-create'%}">
        <input style= "position:absolute; color:#971B00; background: #EAEAEA; left:70%; margin-top :-37px; font-family: Verdana; text-shadow: 0.5px 0.5px #d6593e;" type="submit" value="New Team">
    </form>
    </div>
    <h1 style="font-size: 30px; font-family:Verdana;"> {{user.username}}'s Teams </h1>
    <hr style="height:2px;border-width:0;color:black;background-color:gray"></hr>
    {% for row in team_entry %}
        <div class="content-section">
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr class = "header">
                        <td style="font-family:Verdana;">{{row.team_name}}</td>
                        {% for key,value in row.team_comp.items %}
                            {% if value.name %}
                                <td><img src="../static/pokewiki/pokemon-icon/{{value.name}}.png" alt="N/A"></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class='team-body'>
                    <tr>
                        <td style="font-family:Verdana;">Name</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.name|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td style="font-family:Verdana;">Nature</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.nature|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td style="font-family:Verdana;">Ability</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.ability|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td style="font-family:Verdana;">Item</td>
                        {% for key,value in row.team_comp.items %}
                            {% if value.item %}
                                <td><img src="../static/pokewiki/item-icon/{{value.item}}.png" alt="N/A"></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Move1</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.move.0|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Move2</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.move.1|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Move3</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.move.2|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Move4</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.move.3|format_text}}</td>
                        {% endfor %}
                    </tr>
                    <!-- <tr>
                        <td style="font-family:Verdana;">EVs</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.EV}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td style="font-family:Verdana;">IVs</td>
                        {% for key,value in row.team_comp.items %}
                            <td style="font-family:Trebuchet MS;">{{value.IV}}</td>
                        {% endfor %}
                    </tr> -->
                    <tr>
                        <td style="font-family:Verdana;">Description</td>
                        <td colspan="6"><p style="font-family:Trebuchet MS;">{{row.description}}</p></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td>
                            <form action="{% url 'team-update' pk=row.id %}">
                                <input type="submit" value="update">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'team-delete' pk=row.id %}">
                                <input type="submit" value="delete">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </body>
    {% endfor %}
{% endblock content %}
{% block extra_js %}
    <script>
        var main = function()
        {
            $("thead").on("click", function()
            {
                $(this).parents("table").find("tbody").toggle();
            });
        }
        $(document).ready(main);
    </script>
{% endblock extra_js %}
