{% extends "pokewiki/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="//cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Team</legend>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.team_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-11 mb-0">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row" style="display:none">
                        <div class="form-group col-md-11 mb-0" >
                            {{ form.team_comp|as_crispy_field }}
                        </div>
                        <small class="text-muted">
                            <p>pick your Pokemon from below</p>
                        </small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Create</button>
                    </div>
                </fieldset>
        </form>

        <!-- rule constraints -->
        <div>
            <small style="display: inline;"> RULEs: </small>
            <br>
            <small style="display: inline;" id="rule1"> No more than ONE megas in the team</small>
            <br>
            <small style="display: inline;" id="rule2"> No two pokemons have two the same national dex number</small>
        </div>

        <!-- pokemon selecting field -->
        <!-- search bar -->
        <div class = "searchbar mt-sm-2 mr-2">
            <input type = "text" class = "form-control" onkeyup = "team_filter()" id="search" placeholder = "Search for a Pokémon..."/>
        </div>

        <!-- add pokemon graph-->
        <div id="chartdiv">
        <script async>
            am4core.useTheme(am4themes_animated);

            // Create chart
            var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);

            // Create series
            var series = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries());
            series.data = []

            // Initialize pokemon dictionary
            poke_dict = {}
            {%for l, k in pokemon_team_detail.items%}
                {% for row in k%}
                    var poke_detail = JSON.parse("{{ row|escapejs }}");
                    poke_dict[poke_detail.pokemon] = poke_detail;
                {%endfor%}
            {%endfor%}

            // Set up data fields
            series.dataFields.value = "value";
            series.dataFields.name = "name";
            series.dataFields.children = "children";
            series.dataFields.id = "name";
            series.dataFields.linkWith = "link";
            series.links.template.strokeWidth = 5;
            // series.minRadius = 30;
            // series.maxRadius = 30;

            // Add labels
            series.nodes.template.label.text = "{name}";
            series.fontSize = 10;
            series.minRadius = 15;
            series.maxRadius = 40;
            series.centerStrength = 0.5;
            chart.zoomable = true;
            series.nodes.template.events.on("hit", function(event) {
                if (event.target.isActive) {
                chart.zoomToDataItem(event.target.dataItem, 3, true)
                }
                else {
                chart.zoomOut();
                }
            });
        </script>
        </div>

        <!-- team member 1 -->
        <div class="square" id="1" onclick="select_member(1)" ondblclick="delete_member(1)" >
            <div class="team_picker">
                <div class="input-group input-group-sm mb-3">
                    <!-- pokemon name -->
                    <form method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Pokemon</span>
                            </div>
                            <input readonly id="tm1" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                    <!-- pokemon ability -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Ability</label>
                        </div>
                        <select class="custom-select" id="as1" onchange="select_abi(this.value, 1)">
                            <option value="" disabled selected>Select Ability</option>
                        </select>
                    </div>
                    <!-- pokemon nature -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Nature</label>
                        </div>
                        <select class="custom-select" id="ns1" onchange="select_nat(this.value, 1)">
                            <option value="" disabled selected>Select Nature</option>
                        </select>
                    </div>
                    <!-- pokemon item -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Item</label>
                        </div>
                        <input readonly id="is1" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
        <!-- team member 2 -->
        <div class="square" id="2" onclick="select_member(2)" ondblclick="delete_member(2)">
            <div class="team_picker">
                <div class="input-group input-group-sm mb-3">
                    <!-- pokemon name -->
                    <form method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Pokemon</span>
                            </div>
                            <input readonly id="tm2" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                    <!-- pokemon ability -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Ability</label>
                        </div>
                        <select class="custom-select" id="as2" onchange="select_abi(this.value, 2)">
                            <option value="" disabled selected>Select Ability</option>
                        </select>
                    </div>
                    <!-- pokemon nature -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Nature</label>
                        </div>
                        <select class="custom-select" id="ns2" onchange="select_nat(this.value, 2)">
                            <option value="" disabled selected>Select Nature</option>
                        </select>
                    </div>
                    <!-- pokemon item -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Item</label>
                        </div>
                        <input readonly id="is2" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
        <!-- team member 3 -->
        <div class="square" id="3" onclick="select_member(3)" ondblclick="delete_member(3)">
            <div class="team_picker">   

                <div class="input-group input-group-sm mb-3">
                    <!-- pokemon name -->
                    <form method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Pokemon</span>
                            </div>
                            <input readonly id="tm3" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                    <!-- pokemon ability -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Ability</label>
                        </div>
                        <select class="custom-select" id="as3" onchange="select_abi(this.value, 3)">
                            <option value="" disabled selected>Select Ability</option>
                        </select>
                    </div>
                    <!-- pokemon nature -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Nature</label>
                        </div>
                        <select class="custom-select" id="ns3" onchange="select_nat(this.value, 3)">
                            <option value="" disabled selected>Select Nature</option>
                        </select>
                    </div>
                    <!-- pokemon item -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Item</label>
                        </div>
                        <input readonly id="is3" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>           
            </div>
        </div>
        <!-- team member 4 -->
        <div class="square" id="4" onclick="select_member(4)" ondblclick="delete_member(4)">
            <div class="team_picker">
                <div class="input-group input-group-sm mb-3">
                    <!-- pokemon name -->
                    <form method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Pokemon</span>
                            </div>
                            <input readonly id="tm4" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                    <!-- pokemon ability -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" >Ability</label>
                        </div>
                        <select class="custom-select" id="as4" onchange="select_abi(this.value, 4)">
                            <option value="" disabled selected>Select Ability</option>
                        </select>
                    </div>
                    <!-- pokemon nature -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Nature</label>
                        </div>
                        <select class="custom-select" id="ns4" onchange="select_nat(this.value, 4)">
                            <option value="" disabled selected>Select Nature</option>
                        </select>
                    </div>
                    <!-- pokemon item -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Item</label>
                        </div>
                        <input readonly id="is4" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
        <!-- team member 5 -->
        <div class="square" id="5" onclick="select_member(5)" ondblclick="delete_member(5)">
            <div class="team_picker">
                <div class="input-group input-group-sm mb-3">
                    <!-- pokemon name -->
                    <form method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Pokemon</span>
                            </div>
                            <input readonly id="tm5" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                    <!-- pokemon ability -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Ability</label>
                        </div>
                        <select class="custom-select" id="as5" onchange="select_abi(this.value, 5)">
                            <option value="" disabled selected>Select Ability</option>
                        </select>
                    </div>
                    <!-- pokemon nature -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Nature</label>
                        </div>
                        <select class="custom-select" id="ns5" onchange="select_nat(this.value, 5)">
                            <option value="" disabled selected>Select Nature</option>
                        </select>
                    </div>
                    <!-- pokemon item -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Item</label>
                        </div>
                        <input readonly id="is5" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
        <!-- team member 6 -->
        <div class="square" id="6" onclick="select_member(6)" ondblclick="delete_member(6)">
            <div class="team_picker">         
                <div class="input-group input-group-sm mb-3">
                    <!-- pokemon name -->
                    <form method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Pokemon</span>
                            </div>
                            <input readonly id="tm6" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                    <!-- pokemon ability -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Ability</label>
                        </div>
                        <select class="custom-select" id="as6" onchange="select_abi(this.value, 6)">
                            <option value="" disabled selected>Select Ability</option>
                        </select>
                    </div>
                    <!-- pokemon nature -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Nature</label>
                        </div>
                        <select class="custom-select" id="ns6" onchange="select_nat(this.value, 6)">
                            <option value="" disabled selected>Select Nature</option>
                        </select>
                    </div>
                    <!-- pokemon item -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"  >Item</label>
                        </div>
                        <input readonly id="is6" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>     
            </div>
        </div>
        <!-- <div id="pi_select" >
            <button onclick="pi_toggle()">toggle</button>
            <p id="pokemon_field" >
                {%for l, k in pokemon_team_detail.items%}
                    {% for row in k%}
                        <img loading="lazy" id='{{row.pokemon|lower}}' alt='{{row.dex_id}}' src="../../static/pokewiki/pokemon-icon/{{row.pokemon|lower}}.png" onclick="select_poke('{{row.pokemon|lower}}', '{{row.dex_id}}')" >
                    {%endfor%}
                {%endfor%}
            </p>
            <p id="item_field" >
                {% for entry in item_info%}
                    <td> <img id='{{entry.i_name}}'src="../../static/pokewiki/item-icon/{{entry.i_name}}.png" onclick="select_item(this.id)"loading=lazy></td>
                {% endfor %}
            </p>
        </div> -->
    </div>
{% endblock content %}

{% block extra_js %}
    <!-- User Interface in javascript -->
    <!-- <script async>
        //pokemon selector
        var select = 0;
        var cur_bar = 0; //0 pokemon filter, 1 item filter
        //active, valid, invalid colors for selected team member
        const inactive = "#e6eff3";
        const active   = "#9bd6f0";
        const valid    = "green";
        const invalid  = "red";
        //team json information
        var team_dict = 
        {
                "p1": {"id" : 0, "name" : "", "nature" : "", "ability" : "", "IV" : "", "EV" : "", "item" : ""},
                "p2": {"id" : 0, "name" : "", "nature" : "", "ability" : "", "IV" : "", "EV" : "", "item" : ""},
                "p3": {"id" : 0, "name" : "", "nature" : "", "ability" : "", "IV" : "", "EV" : "", "item" : ""},
                "p4": {"id" : 0, "name" : "", "nature" : "", "ability" : "", "IV" : "", "EV" : "", "item" : ""},
                "p5": {"id" : 0, "name" : "", "nature" : "", "ability" : "", "IV" : "", "EV" : "", "item" : ""},
                "p6": {"id" : 0, "name" : "", "nature" : "", "ability" : "", "IV" : "", "EV" : "", "item" : ""},
        };
        /*
            load the contents if updating
        */
        window.onload = function()
        {
            //(using django to check if it's an updateview or a createview)
            {% if object %}
                //load from to-be-modified team
                team_dict = JSON.parse(document.getElementById("id_team_comp").value);
                let i, pn, an, nn;
                for(i = 1; i <= 6; i++)
                {
                    pn = team_dict["p".concat(i.toString())]["name"];
                    an  = team_dict["p".concat(i.toString())]["ability"];
                    nn  = team_dict["p".concat(i.toString())]["nature"];
                    get_pokeinfo(pokename, i);
                    nature_init(i);
                    document.getElementById("tm".concat(i.toString())).value = pn;
                    document.getElementById("as".concat(i.toString())).value = an;
                    document.getElementById("ns".concat(i.toString())).value = nn;
                }

            {% else %}
                for(i = 1; i <= 6; i++)
                    nature_init(i);
            {% endif %}
            //check if the team is valid
            valid_check();
            //hide item select field
            document.getElementById("item_field").style.display = "none";
        };
        /*
            Function to pick a pokemon from the field and append it to the team
        */
        function select_poke(pokename, dex_id)
        {
            if(select > 0)
            {
                clear_select(select);
                //append name to the list
                document.getElementById("tm".concat(select.toString())).value = pokename;
                //append the pokemon to dict
                team_dict["p".concat(select.toString())]["name"] = pokename;
                team_dict["p".concat(select.toString())]["id"]   = dex_id;
                //get pokemon detail
                get_pokeinfo(pokename, select);
                //check if the team is valid
                valid_check();
                //generate json data for the team
                document.getElementById("id_team_comp").innerHTML = JSON.stringify(team_dict);
            }
        }
        /*
            Function to pick an item from the field and append it to the team
        */
        function select_item(itemname)
        {
            if(select > 0)
            {
                document.getElementById("is".concat(select.toString())).value = itemname;
                //append the item to dict
                team_dict["p".concat(select.toString())]["item"] = itemname;
                //generate json data for the team
                document.getElementById("id_team_comp").innerHTML = JSON.stringify(team_dict);
            }
        }
        /*
            highlight the list element being selected
        */
        function select_member(select_id)
        {
            if(select != select_id)
            {
                //deactivate previous selected
                if(select != 0)
                {
                    let tm = document.getElementById(select);
                    tm.style.backgroundColor = inactive;
                }
                //activate current selected
                select = select_id;
                tm = document.getElementById(select);
                tm.style.backgroundColor = active;
                
            }
        }
        /*
            Function to delete a pokemon from the list when double-clicked
        */
        function delete_member(select_id)
        {
            let mi = document.getElementById("tm".concat(select_id.toString())) //member input
            let tm = document.getElementById(select_id); //team_member
            if(select == select_id)
            {
                let di = "p".concat(select_id.toString());
                //set background to be unselected color
                tm.style.background = inactive;
                //clear the value
                mif.value = "";
                //set the team_dict
                team_dict[di]["name"]     = "";
                team_dict[di]["id"]       = "";
                team_dict[di]["nature"]   = "";
                team_dict[di]["ability"]  = "";
                //remove all options except the default first one
                clear_select(select_id);
                //reset select
                select = 0;
                //check if the team is valid
                valid_check();
            }
        }
        /*
            Function to search a pokemon from the field 
        */
        function log_filter() 
        {

            var es;
            if(cur_bar == 0)
                es = document.getElementById("pokemon_field").children;
            else
                es = document.getElementById("item_field").children;

            var input, filter, i, l, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            // console.log(es)
            l = es.length;
            for (i = 0; i < l; i++) 
            {
                if(es[i]) 
                {
                    txtValue = es[i].id;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) 
                    {
                        es[i].style.display = "";
                        
                    } else 
                    {
                        es[i].style.display = "none";
                    }
                }
            }
        }
        /*
            function to check if the team is valid
            -if it's valid, the status becomes green and the button is enabled to create a team
            -if it's invalid, the status becomes red and the button is disabled
        */
        function valid_check()
        {
            //check based on the applied rule    
            gen7_ou_check();
        }
        /*
            team validator for gen7ou rule
        */
        function gen7_ou_check()
        {
            let array = []; //array for pokemon dex_id
            let mega_count = 0; //mega_count
            for(let key in team_dict)
            {
                if(team_dict[key]["id"] != "")
                    array.push(team_dict[key]["id"]);
                if(team_dict[key]["name"].includes("-mega"))
                {
                    mega_count++;
                }
            }
            //check number of megas in the team
            let checker = document.getElementById("rule1");
            if(mega_count > 1) 
            {
                checker.style.color = invalid;
            }
            else{
                checker.style.color = valid;
            }
            //check for pokemons with same national dex id
            checker = document.getElementById("rule2");
            if(hasDuplicates(array) == true)
            {
                checker.style.color = invalid;
            }
            else{
                checker.style.color = valid;
            }
        }
        /*
            function to check if an array has a duplicate
        */
        function hasDuplicates(array) 
        {
            return (new Set(array)).size !== array.length;
        }
        /*
            function that makes an ajax call to obtain pokemon details from backend
        */
        function get_pokeinfo(pokemon, select)
        {
            $.ajax({
                type:'POST',
                url: '/ajax/get_pokeinfo',
                data: {
                    'pokemon': pokemon,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    //get info for a pokemon
                    // console.log(data["info"])
                    //append options to select
                    let i;
                    let l = data["ability"].length;
                    for(i = 0; i<l; i++)
                    {
                        optionText = data["ability"][i]["a_name"]; 
                        optionValue = data["ability"][i]["a_name"]; 
                        $('#as'.concat(select.toString())).append(`<option value="${optionValue}"> ${optionText} </option>`);
                    }
                },
                error: function(xhr){
                    alert("Error: " + xhr.statusText);
                    return false;
                }
            });
        }
        /*
            function that handles ability select
        */
        function select_abi(value, id)
        {
            team_dict["p".concat(id.toString())]["ability"] = value;
            // console.log(team_dict);
            //generate json data for the team
            document.getElementById("id_team_comp").innerHTML = JSON.stringify(team_dict);
        }
        /*
            function that handles nature select
        */
        function select_nat(value, id)
        {
            team_dict["p".concat(id.toString())]["nature"] = value;
            //generate json data for the team
            document.getElementById("id_team_comp").innerHTML = JSON.stringify(team_dict);
        }
        /*
            function that reset selected values and options
        */
        function clear_select(select_id)
        {
            var idx = select_id.toString();
            $('#as'.concat(idx)).find('option').not(':first').remove();
            $('#as'.concat(idx)).val("");
            $('#ns'.concat(idx)).val("");
            $('#is'.concat(idx)).val("");
        }
        /*
            function that initializes natures options
        */
        function nature_init(select_id)
        {
            $('#ns'.concat(select_id.toString())).append(`<option value="adamant"> Adamant Attack+ Sp.Atk- </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="bashful">  bashful</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="hardy"> hardy </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="lonely">  lonely</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="brave">  brave</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="naughty"> naughty </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="bold"> bold </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="docile">  docile</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="relaxed"> relaxed </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="impish"> impish </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="lax">  lax</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="timid">  timid</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="hasty"> hasty </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="serious">  serious</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="jolly"> jolly </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="naive"> naive </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="modest"> modest </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="mild">  mild</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="quiet">  quiet</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="rash">  rash</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="calm">  calm</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="gentle"> gentle </option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="sassysassy</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="careful">  careful</option>`);
            $('#ns'.concat(select_id.toString())).append(`<option value="quirky">  quirky</option>`);
        }
        /*
            toggle between pokemon picker and item picker
        */
        function pi_toggle()
        {
            var p,i,c;
            p = document.getElementById("pokemon_field");
            i = document.getElementById("item_field");
            if (p.style.display === "none") {
                //hide item picker and show pokemon picker
                p.style.display = "block";
                i.style.display = "none";
                cur_bar = 0;

            } else {
                //hide pokemon picker and show item picker
                p.style.display = "none";
                i.style.display = "block";
                cur_bar = 1;
                //finished toggling use p as a temp
                p = i;
            }
            //reset filter
            for(c = 0; c<p.children.length; c++)
            {
                p.children[c].style.display = "";
            }
            document.getElementById("search").value = "";
        }
    </script> -->
    <script>
        function team_filter(){
            var input;
            var data = [];
            series.data = [];
            // Get typed string
            input = document.getElementById("search").value.toLowerCase();
            // Loop through dict
            for(let p in poke_dict){
                if(p === input) {
                    var teammates = [];
                    var moves = [];
                    var abilities = [];
                    var spreads = [];
                    var items = [];
                    for(let t in poke_dict[p].teammates){
                        teammates.push({"name": t, "value": poke_dict[p].teammates[t].slice(1,2)});
                    }
                    for(let m in poke_dict[p].moves){
                        moves.push({"name": m});
                    }
                    for(let a in poke_dict[p].abilities){
                        abilities.push({"name": a});
                    }
                    for(let s in poke_dict[p].spreads){
                        spreads.push({"name": s});
                    }
                    for(let i in poke_dict[p].items){
                        items.push({"name": i});
                    }
                    data.push({
                        "name": poke_dict[p].pokemon,
                        "value": 10,
                        "children": [
                            {"name": "teammates", "value": 5, "children": teammates},
                            {"name": "moves", "value": 5, "children": moves},
                            {"name": "abilities", "value": 5, "children": abilities},
                            {"name": "spreads", "value": 5, "children": spreads},
                            {"name": "items", "value": 5, "children": items}
                            ]
                    });
                }
            }
            series.data = data;
        }
    </script>
{% endblock extra_js %}
