{% extends "pokewiki/base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <h1> {{ user.username }}'s team </h1>
    {% comment %} <p> soyhu, karthus, pjin, jbao</p>
    <button type="button" class="btn btn-outline-primary">Edit</button> {% endcomment %}
    {% comment %} <button onclick="toggle_team()"> SHOW </button>
    <div class="content-section" id="team_form">
        <form method="POST">
            
        </form>
    </div> {% endcomment %}
    <div class="content-section">
        {% for row in team_entry %}
            <table>
                {% for key,value in row.team_comp.items %}
                    <tr>
                        <td>{{value}}</td>
                        <td><img src="../static/pokewiki/pokemon-icon/{{value}}.png"></td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock content %}
{% block extra_js %}
    {% comment %} <script> 
        function toggle_team()
        {
            var e = document.getElementById("team_form")
            if(e.style.display == "block")
                e.style.display = "none"; 
            else 
                e.style.display = "block";
        }
    </script>  {% endcomment %}
{% endblock extra_js %}