  .my-custom-scrollbar {
    position: relative;
    height: 75vh;
    overflow: auto;
    }
  ::-webkit-scrollbar {
      width: 10px;
      height: 30px;
    }

  ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
    }

  ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.05);
    }
  .table-wrapper-scroll-y {
    display: block;
    }
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  th {
    color : dimgray;
  }
  a:link {
      color : black;
    text-decoration: none;
  }

  a:visited {
    color : black;
    text-decoration: none;
  }

  a:hover {
    color : navy;
    text-decoration: underline;
  }

  a:active {
    color : navy;
    text-decoration: underline;
  }
  button {
      background: transparent;
      border: none !important;
      background-size: auto;
  }​
  ul {
    margin: 0;
  }
  nav ul{overflow:hidden; overflow-y:scroll;}

/*graph*/
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  #chartdiv {
    width: 100%;
    height: 60vh;
  }
  #poke_font{
      font-family: "Comic Sans MS", cursive, sans-serif;
      color : black;
  }
  #homepg_txt{
      margin-top: 0px;
  }
  #title_txt{
      margin-top: 90px;
  }
  #pokedex{
      margin-top: 80px;
  }
  #abidex{
      margin-top:80px;
  }
  #movedex{
      margin-top:80px;
  }
  #homepage {
    background-image: url("icons/kantoquad1.png"); background-repeat: no-repeat;background-position: top center;margin-left:auto;margin-right:auto;background-position: 0px 66px;background-size: cover;
  }
  #pokedex_pg{
      background-attachment:fixed;margin-top:80px;background-image: url("icons/charwallpaper.png");background-repeat: no-repeat;background-position: top center;margin-left:auto;margin-right:auto;background-position: 0px 66px;background-size: cover;
  }
  #abidex_pg{
    background-attachment:fixed;margin-top:80px;background-image: url("icons/pikachublank1.jpg");background-repeat: no-repeat;background-position: top center;margin-left:auto;margin-right:auto;background-position: 0px 66px;background-size: cover;
  }
  #movedex_pg{
    background-attachment:fixed;margin-top:80px;background-image: url("icons/pikasurfing.png");background-repeat: no-repeat;background-position: top center;margin-left:auto;margin-right:auto;background-position: 0px 66px;background-size: cover;
  }
  #itemdex_pg{
    background-attachment:fixed;margin-top:80px;background-image: url("icons/cubonewallpaper.png");background-repeat: no-repeat;background-position: top center;margin-left:auto;margin-right:auto;background-position: 0px 66px;background-size: cover;
  }
  .square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 25%; 
    margin:1.66%;
    background-color:#e6eff3;
    overflow:hidden;
    border-radius: 5%;
  }

  .team_picker {
      position:absolute;
      height:90%; 
      width:90%; 
      padding: 5%;
  }
  .team_picker img {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .bg-steel {
    /* background-color: #9fdfc0; */
    background-image: url("icons/pokemonbanner.png");
    margin-left:auto;
    margin-right:auto;
    opacity: 1;
    background-size:cover;
    background-repeat: no-repeat;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 80px;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  .team-body{
    display: none;
  }
